body {
   background: linear-gradient(#e66465, #9198e5);
   height: 100vh;
}

h1 {
   font-family: Arial;
   font-size: 3em;
}

p {
   font-family: 'Times New Roman', Times, serif;
   font-size: 1.5em;
}

a {
   color: white;
   text-transform: uppercase;
   font-size: 20px;
   text-decoration: none;
  
}

nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

a:hover {
   color: black;
}